<p id="notice"><%= notice %></p>

<h1>Liste des personnes</h1>

<table class="table table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Group</th>
      <th>Sensei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nom %></td>
        <td><%= person.email %></td>
        <td><%= person.tel %></td>
        <td><%= person.group_id %></td>
        <td><%= best_in_place person, :sensei,  :as => :select, :collection => {"1" => "Sensei", "2" => ""} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
