<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>


    <% @groups.each do |group| %>
      <ul class="jumbotron">
        <li><%= group.nom %></li>
        <li><%= group.salle %></li>
        <li><%= group.tache %></li>
        <li><%= link_to 'Show', group %></li>
        <li><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul class="jumbotron">
    <% end %>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <%= link_to 'Ajouter un groupe', new_group_path  %>
  <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <%= link_to 'Affecter aux groupes', randomize_path  %>
  <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
</button>


<h2>Liste des utilisateurs</h2>

  <ul class="jumbotron">
    <% @people.each do |person| %>
        <li><%= person.nom %></li>
        <li><%= person.group_id %></li>
        <li><%= person.sensei %></li>
    <% end %>
  </ul>
