
<h1>Liste des Groupes</h1>

<div class="row">
    <% @groups.each do |group| %>
      <div class="panel col-sm-1 col-md-2 col-lg-4">
          <dl class="panel list-inline">
            <dt><h2><%= group.nom %></h2></dt>
            <dd><h3>Salle : <%= group.salle %></h3></dd>
            <dd><h3>Tache : <%= group.tache %></h3></dd>
            <%  @people.each do |p| %>
              <% if group.id == p.group_id %>
              <p><b>Nom:</b>
                    <%= best_in_place p, :nom %>
              <% if p.sensei %>
                    Appellez moi Sensei!
              <% end %>
                <td><%= best_in_place p, :sensei,  :as => :select, :collection => {"1" => "Sensei", "2" => ""} %></td>
                <br>

              <% end %>
          <% end %>
                  <dd><%= link_to ' ', group, class: "glyphicon glyphicon-eye-open" %> | <%= link_to ' ', group , class: "glyphicon glyphicon-minus", method: :delete, data: { confirm: 'Are you sure?' } %></dd>
          </dl>
    </div>
    <% end %>
</div>

    <%= link_to 'Nouveau ', new_group_path, class: "glyphicon glyphicon-plus"  %>
      |
    <% if @groups.size < 2 %>
      Créez deux groupes pour le Random
    <% else %>
        <%= link_to ' Random', randomize_path, class: "glyphicon glyphicon-retweet"  %>
    <% end %>

    <h2>Liste des utilisateurs</h2>

      <dl class="jumbotron">
        <% @people.each do |person| %>
          <% if person.group_id == 0 %>
            <dt><h3><%= person.nom %></h3></dt>
            <dd><h4><%= person.sensei %></h4></dd>

        <% end %>
        <% end %>
      </ul>
