<!DOCTYPE html>
<html>
<head>
  <title>SimpRandom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%=  render 'layouts/header' %>

  <div class="message"> <%= flash_messages %></div>

     <div class="container">
       <%= yield %>
     </div>


     <script>
       $(document).ready(function() {
         /* Activating Best In Place */
         jQuery(".best_in_place").best_in_place();
       });
     </script>
</body>
</html>
